#buttonC {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

#buttonC::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgb(34 197 94) 50%, rgb(34 200 94) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

#buttonC:hover::before {
  width: 3rem;
  height: 3rem;
}

#buttonC:active {
 
}